.base-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 25px 50px;
}

.warning-button {
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.btn{
    margin-bottom: 10px;
}

#id_username{
    margin-left: 5px;
}

#id_password{
    margin-left: 10px;
}

#id_password1{
    margin-left: 8px;
}

li{
    margin-bottom: 3px;
}

.errorlist{
    color: red;
}
