{% extends 'products/layout.html' %}
{% load static %}

{% block title %}Nosotros{% endblock %}
{% block content %}
<div class="container">
    <div class="row nosotros-row justify-content-between">
        <div class="col-8" style="padding-top: 20px;">
            <h3 class="nosotros-tittle">¿Quiénes somos?</h3>
            <p style="text-align: justify;">
                Somos PetProducts, una tienda tienda para mascota donde encontrarás una gran variedad de productos para
                tu querido y pequeño amigo.
                En nuestro amplio y acogedor espacio, nos dedicamos a brindar a tus compañeros peludos el mejor trato y
                los productos de más alta calidad.
                Somos un equipo de apasionados amantes de los animales, dedicados completamente en el servicio hacia tus
                queridos compañeros peludos. Nos esforzamos
                por ofrecer un servicio personalizado y amigable, respaldado por el conocimiento y la experiencia de
                nuestro equipo de expertos en cuidado animal.
            </p>
        </div>

        <div class="col-3">
            <img class="nosotros-photo" src="{% static 'images/ayudar-animales-sin-hogar.jpg' %}"
                alt="Persona acariciando a perro sin hogar">
        </div>
    </div>

    <div class="row nosotros-row justify-content-between">
        <div class="col-8">
            <h3 class="nosotros-tittle">¿Cuál es nuestro proposito?</h3>
            <p style="text-align: justify;">
                Nuestro principal objetivo es simple pero poderoso, queremos ser el desitno número uno para todos los
                amantes de las mascotas
                y brindar todo lo que una mascota necesita para ser feliz. Desde las mejores marcas de alimentos para
                asegurar su bienestar y
                prolongar su vida, hasta los juguetes más resistentes para tener una vida llena de momentos divertidos.
            </p>
        </div>

        <div class="col-3">
            <img class="nosotros-photo" src="{% static 'images/refugio-gatos.jpeg' %}" alt="Refugio para gatos">
        </div>
    </div>

    <div class="row nosotros-row justify-content-between" style="padding-bottom: 0;">
        <div class="col-8">
            <h3 class="nosotros-tittle">¿Cómo y por qué se creó Pets Products?</h3>
            <p style="text-align: justify;">
                PetProducts nació de la pasión compartida de un grupo de amigos por los animales y el deseo de crear un
                espacio donde tanto las mascotas
                como sus dueños se sintieran bienvenidos y atendidos, además de crear un ambiente familiar para su
                comodidad.
                La idea surgió cuando nos dimos cuenta de que muchos dueños de mascotas enfrentaban desafíos al
                encontrar productos de calidad y recibir un
                confiable asesoramiento sobre el cuidado de sus mascotas. Nos propusimos llenar ese vacío al fundar
                PetProducts, con la visión de ser más queremos
                una simple tienda para mascotas, sino un recurso integral para la comunidad de amantes de los animales.
            </p>
        </div>

        <div class="col-3">
            <img class="nosotros-photo" src="{% static 'images/perros-y-gatos.jpeg' %}" alt="Diversos perros y gatos">
        </div>
    </div>
</div>
{% endblock content %}