{% extends 'products/layout.html' %}

{% block title %}Cart{% endblock %}
{% block content %}
<!--Header-->
<div class="container-lg">
    <div class="row justify-content-between" style="border-bottom: 1px solid black; margin: 0 20px;">
        <div class="col-3">
            <h1 class="header-productos" style="padding: -20px 10px;">Mi Carrito</h1>
            <a href="{% url 'index' %}" style="display: flex;margin: 0 40xp; color: black; text-decoration: none;">
                < Sigue Comprando</a>
        </div>
        <div class="col-3" style="margin-top: 55px; color: black;">
            <p>¿Necesitas ayuda? Llama al <a href="#" style="color: black; text-decoration: none;">(+56)9 111 1111</a>
            </p>
        </div>
    </div>
    <div class="mensaje-oferta" style="margin: 5px 20px 0;">
        <p style="text-align: center; margin-bottom: 3px;">¡Disfruta de nuestras <b>Ofertas</b>! | Despacho gratis en
            compras sobre $20.000</p>
    </div>
</div>

<!-- Carrito (body) -->
<div class="container-lg" style="margin: 50px; text-align: center;" id="body-carrito">
    <h1>Tu carrito está vacio... ):</h1>
</div>
{% endblock content %}