{% extends 'products/layout.html' %}
{% load static %}

{% block title %}Gato{% endblock %}
{% block content %}
<!--Header image-->
<div class="container-lg" style="margin: 20px; text-align: center;">
    <img src="{% static 'images/gato-banner.jpg' %}" alt="Gato-Banner">
</div>

<!--Lista de Productos-->
<section class="container-lg" style="margin: 50px 40px;">
    <div class="row" style="margin: 20px 0;">
        <h2>¡Productos imperdibles!</h2>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card-m2">
                <img class="img-fluid card-img-top" alt="100%x280" src="{{product.image.url}}">
            </div>
            <div class="card-body">
                <p class="card-title">{{product.name}}</p>
                <p class="card-text" style="font-weight: 600;">$ {{product.price}}</p>
                <form class="mas-vendido">
                    <input type="number" name="product_id" value="17" hidden>
                    <input class="btn btn-danger comprar" type="submit" value="Agregar al carrito">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!--Sección informativa-->
<div class="container-lg" style="margin: 20px 40px;">
    <div class="row" style="border-top: 1.5px solid black;">
        <h3 class="nosotros-tittle" style="margin-top: 40px;">Variedad de comida y snacks para tu gato</h3>
        <p style="text-align: justify;"> En nuestra categoría de comida para gatos, encontrarás alimento natural que
            favorece la asimilación de nutrientes. También
            ofrecemos alimentos especiales para gatitos que apoyan a su crecimiento.

            Si tu gato necesita una dieta específica, explora y consultanos, estamos aquí para ti y tu gatito.

            Sorpende a tu felino con nuestra comida húmeda en sobres y latas, disponible en varios sabores.

            Mima a tu felino con nuestros deliciosos snacks que además cuidan su salud bucal y son perfectos premios.
        </p>
    </div>

    <div class="row" style="margin-top: 20px;">
        <h3 class="nosotros-tittle">Cuidados y accesorios para tu gato</h3>
        <p style="text-align: justify;">En nuestra tienda, encontrarás todo lo que necesitas para el cuidado y bienestar
            de tu gato.
            Desde productos de higiene como arenas sanitarias y cepillos, hasta productos para la salud, como antipulgas
            y suplementos vitamínicos.

            Ofrecemos una amplia gama de accesorios para gatos, incluyendo rascadores, camas, y juguetes interactivos
            que mantendrán a tu felino entretenido y activo.

            También contamos con transportadoras y areneros de diferentes tamaños y diseños para mayor comodidad y
            estilo.

            Visítanos y descubre cómo podemos ayudarte a brindarle a tu gato una vida más cómoda y feliz.
        </p>
    </div>
</div>
{% endblock content %}