{% extends 'products/layout.html' %}
{% load static %}

{% block title %}Perro{% endblock %}
{% block content %}
<!--Header image-->
<div class="container-lg" style="margin: 20px; text-align: center;">
    <img src="{% static 'images/perro-banner.jpg' %}" alt="Perro-Banner">
</div>

<!--Lista de Productos-->
<section class="container-lg" style="margin: 50px 40px;">
    <div class="row" style="margin: 20px 0;">
        <h2>¡Productos imperdibles!</h2>
    </div>
    <div class="row" style="margin-bottom: 25px;">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card-m2">
                <img class="img-fluid card-img-top" alt="100%x280" src="{{product.image.url}}">
            </div>
            <div class="card-body">
                <p class="card-title">{{product.name}}</p>
                <p class="card-text" style="font-weight: 600;">$ {{product.price}}</p>
                <form action="{% url 'cart_add' product.product_id %}" class="mas-vendido" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-danger comprar" type="submit" value="Agregar al carrito">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!--Sección informativa-->

<div class="container-lg" style="margin: 20px 40px;">
    <div class="row" style="border-top: 1.5px solid black;">
        <h3 class="nosotros-tittle" style="margin-top: 40px;">Variedad de comida y snacks para tu perro</h3>
        <p style="text-align: justify;">En nuestra categoría de comida para perros, encontrarás alimento natural que
            favorece la asimilación de nutrientes. También
            ofrecemos alimentos especiales para perritos que apoyan a su crecimiento.

            Si tu perro necesita una dieta específica, explora y consultanos, estamos aquí para ti y tu mejor amigo.

            Sorpende a tu cachorro con nuestra comida húmeda en sobres y latas, disponible en varios sabores.

            Mima a tu perro con nuestros deliciosos snacks que además cuidan su salud bucal y son perfectos premios.
        </p>
    </div>

    <div class="row" style="margin-top: 20px;">
        <h3 class="nosotros-tittle">Cuidados y accesorios para tu perro</h3>
        <p style="text-align: justify;">En nuestra tienda, encontrarás todo lo necesario para el cuidado y bienestar de
            tu perro.
            Disponemos de productos de higiene como champús, cepillos y arenas sanitarias, además de artículos de salud
            como antipulgas y suplementos vitamínicos.

            Explora nuestra variedad de accesorios para perros, incluyendo collares, correas, camas y juguetes
            interactivos para mantener a tu mascota activa y feliz.

            También ofrecemos juguetes y casas para perros de diferentes tamaños y diseños, brindando comodidad y
            estilo.

            Visítanos y descubre cómo podemos ayudarte a mejorar la vida de tu mejor amigo.
        </p>
    </div>
</div>
{% endblock content %}