{% extends 'products/admin_layout.html' %}
{% block title %}Nuevo Producto{% endblock title %}

{% block header %}Agregar Nuevo Producto{% endblock header %}
{% block content %}
<form style="display: block; text-align: center;" action="{% url 'new_product' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" style="margin: 10px;" name="submit">Agregar</button>
    <a href="{% url 'catalogue' %}" style="margin: 10px;" class="btn btn-danger">Cancelar</a>
</form>
{% endblock content %}