{% extends 'products/admin_layout.html' %}
{% block title %}Nuevo Tipo{% endblock title %}

{% block header %}Agregar Nuevo Tipo{% endblock header %}
{% block content %}
<form style="display: block; text-align: center;" action="{% url 'new_type' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" style="margin: 10px;" name="submit">Agregar</button>
    <a href="{% url 'catalogue' %}" style="margin: 10px;" class="btn btn-danger">Cancelar</a>
</form>
{% endblock content %}
